.logo_container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 50vw;
  padding-left: 50px;
  background-color: black;
}
.nav_logo
{
  height: 50px;
  width: 100px;
}

.home-card
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  min-width: 50vw;
  margin-left: 80px;
}
.logo_card
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  width: 80%;
  height: 74%;
}
.title
{
  font-size: 150px;
  font-weight: bold;
  font-family: 'Helvetica Neue', sans-serif;
}
.sub-title
{
  font-size: 40px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
}
.signup_btn {
  background-color: #2fdeb2;
  color: black;
  border-radius: 5px;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
}

.carousel-control-prev-icon,
    .carousel-control-next-icon {
      font-weight: bold;
      font-size: 1.5rem; /* Adjust size as needed */
