body{
  background: url('landing-page-bg.jpg'), hsl(40, 20%, 90%);
  background-size: 100% 45%;
  background-repeat: no-repeat;
}
.logo-container
{
  width: 30vw;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.logo
{
  height: 800px;
  width: 80px;
  margin-left: 30px;
}
.logo-desc
{
  position: absolute;
  margin-left: 115px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.skillup
{
  font-size: 27px;
  color: hsl(168, 50%, 53%);
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.verse
{
  position: absolute;
  margin-top: 55px;
  font-size: 34px;
  color:  hsl(0, 0%, 80%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.signup-btn {
    font-family: 'Roboto Slab', sans-serif;
    background-color: hsl(168, 50%, 53%);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  color: White;
  margin-left: 10px;
  border-radius: 5px;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
}
.signup-btn:hover{
    background-color: hsl(168, 40%, 43%);
}
.login-link
{
  font-family: 'Roboto Slab', sans-serif;
  color: color:  hsl(0, 0%, 80%);
  transition: font-weight 0.3s ease-in-out, color 0.3s ease-in-out;
margin-top: 5px;
cursor: pointer;
}
.login-link:hover, .majors-dropdown:hover, .courses-link:hover{
  color: #CCCCCC;
  font-weight: bold;
}
.login-link:visited
{
  color: hsl(0, 0%, 80%);
}
.majors-dropdown, .login-link, .signup-btn, .courses-link
{
  font-family: 'Roboto Slab', sans-serif;
  font-size: 18px;
  margin-right: 10px;
}
.majors-dropdown, .courses-link
{
  margin-top: 5px;
  color:hsl(0, 0%, 80%);
}
.main-section
{
  min-height: 100vh;
  min-width: 100vw;
}
.icons-section
{
position: absolute;
}
.decorative-icon
{
  position: absolute;
  height: 30px;
  weight: 30px;
}
.rocket
{
  bottom: 500px;
  height: 100px;
  weight: 100px;
}
.desc-heading
{
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
.desc
{
  text-align: center;
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 20px 520px 40px 520px;
  font-weight: bold;
  color:hsl(0, 0%, 80%);
}
.vertical-line {
  height: 25px; /* Set the desired height of the vertical line */
  width: 1px; /* Set the width to create a thin line */
  background-color: red; /* Set the color of the vertical line */
  margin: 0 auto; /* Center the line horizontally (optional) */
}
.gs-btn-container
{
  width: 100vw;
  display: flex;
  justify-content: center;
}
.get-started-btn
{
  font-family: 'Roboto Slab', sans-serif;
  padding: 5px 30px;
  background-color: hsl(0, 100%, 50%);
  color: White;
  border: none;
  border-radius: 0px 10px;
transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.get-started-btn:hover
{
  background-color: hsl(0, 100%, 30%);
}
.getstarted-link
{
  text-decoration: none !important;
  color: White;
  text-align: center;
  font-size: 20px;
}
.getstarted-link:visited
{
  color: White;
}
.img-section
{
  display: flex;
  justify-content: space-between;
  margin: 110px 150px 10px 150px;
}
.student-img
{
  height: 450px;
  width: 300px;
  position: absolute;
  top: 405px;
}
.img-container
{
  height: 368px;
  width: 300px;
  border-radius: 0px 30px 0px 30px;
}
.img1-container{
  background-color: yellow;
}
.img2-container
{
  background-color: pink;
}
.img3-container
{
  background-color: orange;
}
.student-img1
{
  left: 120px;
}
.student-img3
{
margin-left: 25px;
}
.benefits-section
{
  padding: 0px 10px;
}
.benefits-hdn
{
  margin-top: 100px;
  font-family: 'Kanit', sans-serif;
 font-size: 40px;
 font-weight: bold;
}
.b-container
{
  display: flex;
}
.desc-container
{
  width: 50vw;
}
.benefits-title
{
  font-size: 50px;
}
.b-img-container
{
  width: 50vw;
  background-color: black;
}
.course-card{
  min-height: 360px !important;
  width: 270px;
  transition: box-shadow 0.3s ease-in-out;
}
.course-card:hover
{
box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
}
.card-img{
  height: 120px;
  width: 240px;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.course-title
{
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  margin-bottom: 20px;
}
.double-line-title{
  margin-bottom: 10px !important;
}
.course-desc
{
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Titillium Web', sans-serif;
}
.card-footer
{
  text-align: center;
}
.enroll-btn{
  background-color: #2fdeb2;
  color: White;
  border-radius: 5px;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.enroll-btn:hover{
  background-color: #1ca982;
}
.featured-courses-section
{
  margin-top: 20px;
  padding-right: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.featured-courses-container
{
  margin: 10px 10px 10px 10px;
  padding-right: 10px;
  margin-bottom: 50px;
}
.featured-courses-title
{
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 20px;
  color: #000080;
}
/* Styles for the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  animation-name: modalopen;
  animation-duration: 0.5s; /* Adjust the duration for smoother effect */
}
/* Animation for modal open */
@keyframes modalopen{
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.popup-content{
  text-align: center;
  padding: 10px 40px 10px 40px;
}
.popup-hdn{
  font-size: 40px;
  color: hsl(230, 60%, 30%);
  font-family: 'Kanit', sans-serif;
}
.popup-subhdn
{
  font-family: 'Raleway', sans-serif;
  margin-bottom: 40px;
}
.popup-message
{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.close {
  color: #aaa;
  max-width: 40px;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.or-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.or-divider .or-line {
  height: 1px;
  width: 100px;
  background-color: black;
}

.or-divider .or-text {
  padding: 0 10px;
  color: #999;
  font-weight: bold;
}
.popup-btn-section
{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#signup-btn
{
  padding: 10px 120px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.login-btn
{
  font-family: 'Roboto Slab', sans-serif;
  background-color: hsl(230, 50%, 50%) !important;
  color: White;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  padding: 10px 128px;
  margin-left: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.login-btn:hover{
  background-color: hsl(230, 60%, 30%) !important ;
  color: White ;
}
.professor-image
{
  position: absolute;
  left: 470px;
}
